<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="bnEwvRk4K0VmyrDXRkYyr2SK7gXTmTEHkzqrRSkf4C/Vz8hou9sOMcqsM/b3fk5cfFwrKDm2b8gZnqZ0uTP1fw==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>
    <ul>
      <li>
        <a href="/users">
          All users
        </a>
      </li>
      
      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

        <li>
          <a href="/user_sign_in">
            Sign in
          </a>
        </li>

        <li>
          <a href="/user_sign_up">
            Sign up
          </a>
        </li>
    </ul>



    <h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>

    <tr>
      <td>
        alice
      </td>

      <td>
          Yes
      </td>

      <td>
      </td>

      <td>
        <a href="/users/alice">Show details</a>
      </td>
    </tr>
</table>

  </body>
</html>
